{% extends templatePath('Widgets/Template:edit.html.twig', 'admin') %}
{% block header_text %}Edit Subscription{% endblock %}
{% block subheader_text %}Name: {{ entity.name }}{% endblock %}
{% block back_button %}
    <a href="{{ renderGridBackUrl('cart_admin_subscription') }}" class="btn btn-default">Back</a>
{% endblock %}
