{% extends templatePath('Widgets/Template:index.html.twig', 'admin') %}
{% block header_text %}Subscriptions{% endblock %}
{% block form_action %}{{ path('cart_admin_subscription') }}{% endblock %}
{% block header_buttons %}
    <a class="btn btn-success" href="{{ path('cart_admin_subscription_new') }}">Create</a>
{% endblock %}
