{% extends frontend() %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            You've successfully added a Shared Subscription Account
            </div>
        </div>
    </div>

{% endblock %}
