{% extends frontend() %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 table-responsive">
            <table class="table table-bordered table-striped table-hover dataTable">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>&nbsp;</th>
                </tr>
                {% if entities|length == 0 %}
                    <tr>
                        <td colspan="3">
                            None found
                        </td>
                    </tr>
                {% else %}
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.email }}</td>
                            <td>
                                <form method="post" action="{{ path('subscription_customer_remove') }}">
                                    <input type="hidden" name="customer_id" value="{{ entity.id }}" />
                                    <button type="submit" class="btn btn-default">Remove</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
