{% extends templatePath('Widgets/Template:edit.html.twig', 'admin') %}
{% block header_text %}Create Subscription Customer{% endblock %}
{% block subheader_text %}Subscription Customer Form{% endblock %}
{% block back_button %}
    <a href="{{ renderGridBackUrl('cart_admin_subscription_customer') }}" class="btn btn-default">Back</a>
{% endblock %}
